.container-products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: url(../../../assets/cowback.jpg);
  background-attachment: fixed;
  gap: 15px;
  margin-top: 50px;

  p {
    font-size: 15px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
  }
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn {
    background-color: #01a9db;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 2em;
    cursor: pointer;
    transition: 0.1s ease;
    border-width: 0;
    box-shadow: 1px 5px 0 0 #0e285d;
  }
  
  .btn:hover {
    transform: translateY(-4px);
    box-shadow: 1px 9px 0 0 #0e285d;
  }
  
  .btn:active {
    transform: translateY(4px);
    box-shadow: 0px 0px 0 0 #0e285d;
  }