.productsview{
  background-image: url(../../../assets/cowback.jpg);
  background-attachment: fixed;
}

.container-products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
 
  

  p {
    font-size: 15px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
  }
}

img{
  width: 200px;
  height: 200px;
  
}
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin:80px 20px 20px 40px;
  width: 280px;

 
}


.btn {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
    font-family: "Righteous", cursive;
    
    
   }
   
   .btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   .btn:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
   .btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   .btn:active {
    transform: scale(0.9);
   }

.btnscontainer{
  display: flex;
  justify-content: center;
}